<%= form_for(@account) do |f| %>
  <% if @account.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@account.errors.count, "error") %> prohibited this account from being saved:</h2>

      <ul>
      <% @account.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<p>Account</p>
  <div class="field">
    <%= f.label "學校/單位 (School/Org)" %>
    <%= f.text_field :name %><br />

    <%= f.hidden_field :internal_type_c, :value => 'Editing' %><br />
	
	
  </div>

<p>Contact</p>
  <div class="field">
	<%= fields_for @contact do |c| %>

	<%= c.label :salutation %>
    <%= c.text_field :salutation %><br />

	<%= c.label "英文名字 (Eng Last name)" %>
    <%= c.text_field :last_name %><br />

    <%= c.label "完整中文名稱 (Ch name)" %>
    <%= c.text_field :cntc_chinese_name_c  %><br />

	<%= c.label "電子信箱 (Email)" %>
	<%= c.text_field :email1 %><br />

	<%= c.label "聯絡手機 (Mobile phone) " %>
	<%= c.text_field :phone_mobile %><br />

	<%= c.label "聯絡電話1 (Home Phone)" %>
	<%= c.text_field :phone_home %><br />

	<%= c.label "聯絡電話2 (Work Phone)" %>
	<%= c.text_field :phone_work %><br />

	<%= c.label "聯絡電話3 (Other Phone)" %>
	<%= c.text_field :phone_other %><br />

	<%= c.label "系所/部門 (Department)" %>
	<%= c.text_field :department %><br />

	<%= c.label "職稱 (Title)" %>
	<%= c.select :title, options_for_select(["Professor", "Asst. Professor"]) %><br />

	<%= c.label "得知管道 (Where did you hear about us?)" %>
	<%= c.select :lead_source, options_for_select(["Email", "Other"]) %><br />

	<% end %>
  </div>


  <p>Documents</p>
  <div class="field">
    <%= f.label "(Document 1)" %>
    <%= f.file_field :my_file %><br />
    <%= f.label "(Document 2)" %>
    <%= f.file_field :my_file2 %><br />
    <%= f.label "(Document 3)" %>
    <%= f.file_field :my_file3 %><br />
  </div>


  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>